<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dataformat Dutch Days</title>
</head>
    <body>
        <nav>
            <div class="nav-wrapper grey darken-4">
                <a style="padding-left: 30px; font-size: 20px;" href="#" class="brand-logo">DutchDays - dataformat</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                </ul>
            </div>
        </nav>

      <div class="container" >
          <div class="row" style="padding-top:100px;">
            <h4>Genereren van het dataformat</h4>
            <p>
                Met deze applicatie kan de data voor het dataformat gegenereerd worden. De data wordt samengesteld op basis van de bestanden die aangeleverd worden. Hierbij is het noodzakelijk dat de geleverde bestanden als Excel-bestand en in de orginele structuur(NoCore) geleverd worden. Het verwerken van de data kan 5 tot 10 minuten of zelfs langer duren.
            </p>
          </div>
          <div class="row" style="padding-top:10px;">
                <form enctype="multipart/form-data" action="" method="post">
                    <div class="col s4">
                        <div class="row">
                            <div class="col s12">
                                <div class="card">
                                <div class="card-content">
                                    <span class="card-title">Medewerker</span>
                                    <p>Upload het Excel-bestand met de gegevens van medewerkers vanuit NoCore. Hieronder staat een voorbeeld tabel met de data van de medewerkers</p>
                                
                                    <table>
                                            <thead>
                                              <tr>
                                                  <th>SollicitantID</th>
                                                  <th>naam</th>
                                                  <th>veld0</th>
                                                  <th>...</th>
                                              </tr>
                                            </thead>
                                    
                                            <tbody>
                                              <tr>
                                                <td>001</td>
                                                <td>J. Wick</td>
                                                <td>Wick</td>
                                                <td>...</td>
                                              </tr>
                                              <tr>
                                                <td>002</td>
                                                <td>T. Hanks</td>
                                                <td>Hanks</td>
                                                <td>...</td>
                                              </tr>
                                              <tr>
                                                <td>003</td>
                                                <td>W. Smith</td>
                                                <td>Smith</td>
                                                <td>...</td>
                                              </tr>
                                            </tbody>
                                          </table>
                               
                                </div>
                                <div class="card-action">
                                    <input type="file" name="medewerkers">
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s4">
                            <div class="col s12">
                                    <div class="card">
                                    <div class="card-content">
                                        <span class="card-title">Projecturen</span>
                                        <p>Upload het Excel-bestand met de gegevens van projecturen vanuit NoCore. Hieronder staat een voorbeeld tabel met de data van de projecturen</p>
                                
                                        <table>
                                                <thead>
                                                  <tr>
                                                      <th>SollicitantID</th>
                                                      <th>cNaam</th>
                                                      <th>JaarWeek</th>
                                                      <th>...</th>
                                                  </tr>
                                                </thead>
                                        
                                                <tbody>
                                                  <tr>
                                                    <td>001</td>
                                                    <td>J. Wick</td>
                                                    <td>201906</td>
                                                    <td>...</td>
                                                  </tr>
                                                  <tr>
                                                    <td>001</td>
                                                    <td>J. Wick</td>
                                                    <td>201907</td>
                                                    <td>...</td>
                                                  </tr>
                                                  <tr>
                                                    <td>001</td>
                                                    <td>J. Wick</td>
                                                    <td>201908</td>
                                                    <td>...</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                    </div>
                                    <div class="card-action">
                                        <input type="file" name="projecturen">
                                    </div>
                                    </div>
                                </div>
                    </div>
    
                    <div class="col s4">
                            <div class="col s12">
                                    <div class="card">
                                    <div class="card-content">
                                        <span class="card-title">Jobs</span>
                                        <p>Upload het Excel-bestand met de gegevens van jobs vanuit NoCore. Hieronder staat een voorbeeld tabel met de data van de jobs</p>
                                
                                        <table>
                                                <thead>
                                                  <tr>
                                                      <th>ProjectId</th>
                                                      <th>MedewerkerId</th>
                                                      <th>NaamMedewerker</th>
                                                      <th>...</th>
                                                  </tr>
                                                </thead>
                                        
                                                <tbody>
                                                  <tr>
                                                    <td> </td>
                                                    <td>001</td>
                                                    <td>J. Wick</td>
                                                    <td>...</td>
                                                  </tr>
                                                  <tr>
                                                    <td> </td>
                                                    <td>001</td>
                                                    <td>J. Wick</td>
                                                    <td>...</td>
                                                  </tr>
                                                  <tr>
                                                    <td> </td>
                                                    <td>001</td>
                                                    <td>J. Wick</td>
                                                    <td>...</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                    </div>
                                    <div class="card-action">
                                        <input type="file" name="jobs">
                                    </div>
                                    </div>
                                </div>
                    </div>
                </div>
                
                <button class="btn waves-effect waves-light amber darken-2" type="submit" name="action">Genereer dataformat
                </button>
                </form>
            </div>     

      
    </body>
</html>
